/*menu */
.mk-right-menu {
  position        : absolute;
  background-color: #f9f9f9;
  z-index         : 1500;
  width           : 140px;
  border-radius   : 3px;
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mk-right-menu>a {
  color          : rgba(0, 0, 0, 0.65);
  padding        : 5px 16px;
  text-decoration: none;
  display        : block;
  text-align     : center;
  position       : relative;
  /*margin       : 5px auto;*/
}

.mk-right-menu .dividing-line {
  border-bottom: 1px solid #e2e2e2;
}

.mk-right-menu>a:hover,
.mk-right-menu>a>.img-menu>a:hover {
  background-color: #c7e3f1;
  border-radius   : 3px;
}

.mk-right-menu>a>.img-menu {
  background-color: #f9f9f9;
  width           : 140px;
  position        : absolute;
  left            : 140px;
  top             : 0px;
  border-radius   : 3px;
  box-shadow      : 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.mk-right-menu>a>.img-menu>a {
  color          : rgba(0, 0, 0, 0.65);
  padding        : 5px 16px;
  text-decoration: none;
  display        : block;
  text-align     : center;
}

.md-container {
  width    : 100%;
  height   : 100%;
  font-size: 16px;
  position : relative;
  overflow : hidden;
  border   : 1px solid #eee;
}


/*
.le-not-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}


.md-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
}
*/
.md-border {
  border: 1px #cac7c7 solid;
}



.mk-editor-container {

  width : 100%;
  height: calc(100% - 35px);
}

.mk-editor-container>div {
  width: 100%;
}

.mk-editor-container .mk-editor-left {
  height: 100%;
}

.mk-editor-container .mk-editor-right {
  height    : 100%;
  background: #fff;
}

.mk-editor-container .mk-editor-right>a {
  position: absolute;
  top     : 20px;
  right   : 20px;
  z-index : 600;
}

.mk-editor-container .mk-editor-right>a .fa {
  font-size: 20px;
}




.CodeMirror {
  width      : 100%;
  height     : 100%;
  /*font-size: 16px;*/
}

.CodeMirror-sizer {
  height: 120%;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
  width : 8px;
  height: 4px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-button {
  width : 8px;
  height: 0;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: 0 0;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background        : #cfd6d6;
  -webkit-transition: 0.3s;
  transition        : 0.3s;
  border-radius     : 5px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c0bebe;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:active {
  background-color: #c0bebe;
}

.markdown-body::-webkit-scrollbar {
  width : 8px;
  height: 4px;
}

.markdown-body::-webkit-scrollbar-button {
  width : 8px;
  height: 0;
}

.markdown-body::-webkit-scrollbar-track {
  background: 0 0;
}

.markdown-body::-webkit-scrollbar-thumb {
  background        : #cfd6d6;
  -webkit-transition: 0.3s;
  transition        : 0.3s;
  border-radius     : 5px;
}

.markdown-body::-webkit-scrollbar-thumb:hover {
  background-color: #c0bebe;
}

.markdown-body::-webkit-scrollbar-thumb:active {
  background-color: #c0bebe;
}

.mk-editor-right .markdown-body {
  width             : 100%;
  height            : 100%;
  overflow-y        : scroll;
  /*background-color: rgb(251, 251, 251);*/
  box-sizing        : border-box;
  padding           : 30px;

}

.md-flowchart {
  width : 80%;
  margin: 0 auto;
}

.md-flowchart svg {
  width: 100% !important;
}

.mk-editor-container .fullStyle,
.fullStyle {
  width     : 100%;
  height    : 100%;
  top       : 0;
  left      : 0 !important;
  position  : fixed;
  background: #fff;
  border    : 0;
  z-index   : 1000;
}

.md-tip {
  position                  : relative;
  padding                   : 0.1rem 1.5rem;
  border-left-width         : 6px;
  border-left-style         : solid;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius   : 0.25rem;
}

.md-tip p {
  margin: 12px 0;
}

.md-tip::before {
  position: absolute;

  width     : 25px;
  height    : 25px;
  left      : -16px;
  top       : 12px;
  box-sizing: border-box;
}


.md-tip-info {
  border-color    : #007bff;
  background-color: #f8f8f8;
}

.md-tip-info::before {
  content: url("../../assets/info.svg");
}


.md-tip-warning {
  border-color    : #f4cd00;
  background-color: #fff7d0;
}

.md-tip-warning::before {
  content: url("../../assets/warning.svg");
}


.md-tip-error,
.md-tip-danger {
  border-color    : #f55;
  background-color: #ffe6e6;
}

.md-tip-error::before,
.md-tip-danger::before {
  content: url("../../assets/error.svg");
}


.md-tip-success {
  border-color    : #42b983;
  background-color: #f8f8f8;
}

.md-tip-success::before {
  content: url("../../assets/dp.svg");
}



/** 预览打开、关闭动画 

.mk-editor-right-animation-enter-active {
  -webkit-animation: fadeInRight 1s 0.2s ease both;
  -moz-animation: fadeInRight 1s 0.2s ease both;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

.mk-editor-right-animation-leave-active {
  -webkit-animation: fadeOutRight 1s 0.2s ease both;
  -moz-animation: fadeOutRight 1s 0.2s ease both;
}

@-webkit-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes fadeOutRight {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

  预览打开、关闭动画**/

/**loading start 

.md-container .loader-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(55, 55, 55, 0.6);
  z-index: 1000;
}

.md-container .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  user-select: none;
  cursor: default;
  z-index: 1000;
}

.md-container .loader .text {
  position: absolute;
  text-align: center;
  top: 1.8em;
  left: 0.4em;
  z-index: 5;
  font-size: 2em;
  text-transform: uppercase;
  animation: text 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
}

.md-container .spinner {
  position: relative;
  width: 5em;
  height: 5em;
  color: #fff;
}

.md-container .spinner:before,
.spinner:after {
  content: "";
  position: relative;
  display: block;
}

.md-container .spinner:before {
  animation: spinner 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  width: 3em;
  height: 3em;
  background-color: #00dba8;
}

.md-container .spinner:after {
  animation: shadow 2.5s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
  position: relative;
  bottom: -1.75em;
  height: 0.25em;
  border-radius: 50%;
  background-color: #322b27;
}

@-webkit-keyframes spinner {
  50% {
    -webkit-border-radius: 50%;
    -webkit-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -webkit-transform: scale(1) rotate(720deg);
    background-color: #00dba8;
  }
}

@-moz-keyframes spinner {
  50% {
    -moz-border-radius: 50%;
    -moz-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -moz-transform: scale(1) rotate(720deg);
    background-color: #00dba8;
  }
}

@-moz-keyframes spinner {
  50% {
    -mos-border-radius: 50%;
    -mos-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -moz-transform: scale(1) rotate(720deg);
    background-color: #00dba8;
  }
}

@-o-keyframes spinner {
  50% {
    -o-border-radius: 50%;
    -o-transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    -o-transform: scale(1) rotate(720deg);
    background-color: #00dba8;
  }
}

@keyframes spinner {
  50% {
    border-radius: 50%;
    transform: scale(0.5) rotate(360deg);
    background-color: #13a3a5;
  }
  100% {
    transform: scale(1) rotate(720deg);
    background-color: #00dba8;
  }
}

@-webkit-keyframes shadow {
  50% {
    -webkit-transform: scale(0.5);
    background-color: #322b27;
  }
}

@-moz-keyframes shadow {
  50% {
    -moz-transform: scale(0.5);
    background-color: #322b27;
  }
}

@-moz-keyframes shadow {
  50% {
    -moz-transform: scale(0.5);
    background-color: #322b27;
  }
}

@-o-keyframes shadow {
  50% {
    -o-transform: scale(0.5);
    background-color: #322b27;
  }
}

@keyframes shadow {
  50% {
    transform: scale(0.5);
    background-color: #322b27;
  }
}

@-webkit-keyframes text {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}

@-moz-keyframes text {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(0.5, 0.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}

@-moz-keyframes text {
  0% {
    -moz-transform: scale(1, 1);
  }
  50% {
    -moz-transform: scale(0.5, 0.5);
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}

@-o-keyframes text {
  0% {
    -o-transform: scale(1, 1);
  }
  50% {
    -o-transform: scale(0.5, 0.5);
  }
  100% {
    -o-transform: scale(1, 1);
  }
}

@keyframes text {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 0.5);
  }
  100% {
    transform: scale(1, 1);
  }
}

  loading end**/